@media only screen and (max-width: 500px) {
    .heading-meta {
    align-items: baseline;
  }
  .education-heading {
    font-weight: 600;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 50px;
  }
  .experience-heading {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
  }
  .project-heading {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
  }
  .logo-container {
    width: 60px;
    height: 60px;
  }
  .logo-container img {
    width: 30px;
  }
}
